html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    overflow: hidden;
}

#mapDiv {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0; 
}

.navbar-fixed-top {
    height: 50px;
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    background-color: #0079c1;
}

.navbar-title {
    order: 1;
    flex-grow: 1;
    margin: 0;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #f8f8f8;
    padding-left: 25px;
}

.navbar-title > .title-main {
    flex-shrink: 0;
    margin: 0;
    padding: 1px 0 2px;
    overflow: hidden;
    font-size: 22px;
    font-weight: 400;
}

.navbar-title > .title-divider {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    margin: 0 15px;
    transform: scale(.7,.3);
    transform-origin: left;
    border-left: 1px solid;
    /*color: #f8f8f8;*/
    opacity: .75;
}

.navbar-title > .title-sub {
    display: inline-block;
    margin: 0;
    padding: 1px 0 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    /*color: #f8f8f8;*/
}

.loading-indicator {
    /* Loading status */
    display    : none;
    height     : 100%;
    width      : 100%;
    z-index    : 500;
    position   : absolute;
    top        : 0;
    left       : 0;
    overflow   : hidden;
    background : #fff;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
    /* Show this class when loading or error */
    pointer-events : none;
    display        : inline-flex;
    cursor         : wait;
}

.app-loading .loading-indicator {
    /* Loading image */
    background : url(../images/loading.gif) no-repeat center center;
}

.bottom-pane {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    /*display: flex;*/
    display: none;
}

.bottom-pane.visible {
    display: flex;
}

.bottom-pane > div.pie-chart-wrapper {
    background-color: #f2f2f2;
    width: 250px;
}

.bottom-pane > div.monthly-trend-chart-wrapper {
    background-color: #f2f2f2;
    width: 450px;
}

.monthly-trend-chart-wrapper > .monthly-trend-chart-top-div {
    width: 90%;
    height: 15%;
    /*background-color: #987654;*/
    margin: 10px auto 0;
}

.monthly-trend-chart-wrapper > .monthly-trend-chart-div {
    width: 90%;
    height: 75%;
    /*background-color: #123456;*/
    margin: 0 auto;
}

.pie-chart-wrapper > .pie-chart-title-div {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    /*background-color: #123456;*/
}

.pie-chart-wrapper > .pie-chart-div {
    width: 100%;
    /*height: 70%;*/

    height: -webkit-calc(100% - 135px);
    height:    -moz-calc(100% - 135px);
    height:         calc(100% - 135px);

    margin: auto;
}

.pie-chart-wrapper > .pie-chart-bottom-div {
    width: 100%;
    height: 80px;
    line-height: 50px;
    margin-top: 5px;
    /*background-color: #123456;*/
}

.pie-chart-bottom-div > .pie-chart-legend-div {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    /*background-color: #123456;*/
}

.pie-chart-bottom-div > .pie-chart-legend-div > div {
    width: 70%;
    height: 16px;
    line-height: 16px;
    margin-left: 15%;
    /*background-color: #123456;*/
}

.pie-chart-bottom-div > .pie-chart-legend-div > div > span.legend-icon {
    width: 12px;
    height: 12px;
    background-color: #123456;
    position: absolute
}

.pie-chart-bottom-div > .pie-chart-legend-div > div > span.legend-text {
    /*left: 20px;*/
    /*position: absolute*/
    margin-left: 20px;
}

.pie-chart-bottom-div > .pie-chart-footnote-div {
    width: 100%;
    height: 15px;
    /*background-color: #987654;*/
    text-align: center;
    line-height: 15px;
}

.bottom-pane > div.line-chart-wrapper {
    width: -webkit-calc(100% - 700px);
    width:    -moz-calc(100% - 700px);
    width:         calc(100% - 700px);
}

@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
}

/* style of the d3 chart */
.axis path,
.axis line {
    fill: none;
    stroke: #d7d7d7;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #636363;
}

.verticalLine {
    stroke-width: 1;
}

div.tooltip {
    font: 12px sans-serif;	
    position: absolute;	
    text-align: left;	
    width: 150px;	
    height: 50px;		
    padding: 5px;	
    background: rgba(240, 240, 240, 0.8);	
    border: 0px;					
    border-radius: 2px;
    z-index: 1000;
}   

.overlay {
    fill: none;
    pointer-events: all;
}  
