html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #444;
    overflow: hidden;
}

#mapDiv {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0; 
}

.navbar-fixed-top {
    height: 50px;
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: stretch;
    background-color: #0079c1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.navbar-title {
    order: 1;
    flex-grow: 1;
    margin: 0;
    line-height: 1.5;
    display: flex;
    align-items: center;
    color: #f8f8f8;
    padding-left: 25px;
}

.navbar-title > .title-main {
    flex-shrink: 0;
    margin: 0;
    padding: 1px 0 2px;
    overflow: hidden;
    font-size: 22px;
    font-weight: 400;
}

.navbar-title > .title-divider {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    margin: 0 15px;
    transform: scale(.7,.3);
    transform-origin: left;
    border-left: 1px solid;
    /*color: #f8f8f8;*/
    opacity: .75;
}

.navbar-title > .title-sub {
    display: inline-block;
    margin: 0;
    padding: 1px 0 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    /*color: #f8f8f8;*/
}

.navbar-fixed-top > div.search-input-wrapper {
    display: flex;
    order: 2;
    flex-shrink: 0;
    margin: 0;
    width: 250px;
}

div.search-input-wrapper > div {
    margin: 8px;
    width: 100%;
}

.calcite .arcgisSearch {
    box-shadow: unset !important;
}

.loading-indicator {
    /* Loading status */
    display    : none;
    height     : 100%;
    width      : 100%;
    z-index    : 500;
    position   : absolute;
    top        : 0;
    left       : 0;
    overflow   : hidden;
    background : #fff;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
    /* Show this class when loading or error */
    pointer-events : none;
    display        : inline-flex;
    cursor         : wait;
}

.app-loading .loading-indicator {
    /* Loading image */
    background : url(../images/loading.gif) no-repeat center center;
}

.app-message-wrapper {
    display    : none;
    height     : 100%;
    width      : 100%;
    z-index    : 500;
    position   : absolute;
    top        : 0;
    left       : 0;
    overflow   : hidden;
    background : rgba(50,50,50,0.1);
}

.app-message-wrapper.show {
    display    : unset;
}

.app-message-wrapper > .app-message-div {
    position: absolute;
    width: 420px;
    height: 200px;
    background: #fff;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -210px;
    padding: 20px 30px;
    color: #4c4c4c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.app-message-div > .app-message-title {
    font-size: 18px;
}

.app-message-div > .app-message-content {
    font-size: 14px;
}

.app-message-div > button {
    font-size: 18px;
    padding: 10px 25px;
    float: right;
}

/*.layer-control-wrapper {
    height: 40px;
    width: 250px;
    background-color: #efefef;
    top: 65px;
    right: 15px;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}*/

.map-layer-select-wrapper {
    height: 40px;
    width: 200px;
    background-color: #efefef;
    top: 65px;
    right: 15px;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.map-layer-select-wrapper > select {
    background-color: #efefef;
    /*background: #efefef;*/
    border: 0px solid #a9a9a9;
    box-shadow: none;
    font-weight: 600;
}

/*.layer-control-wrapper > div {
    width: 50%;
    height: 100%;
    padding: 8px;
    color: #303030;
    font-size: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}

.layer-control-wrapper > div.active {
    background-color: #0079c1;
    color: #fff;
}*/

.bottom-pane {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;

    /*display: flex;*/
    display: none;

    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;
    align-content: flex-start;
    align-items: flex-start;*/
}

.bottom-pane.visible {
    display: flex;
}

.bottom-pane > div {
    height: 100%;
}

.bottom-pane > div.summary-info-wrapper {
    /*background-color: #f2f2f2;*/
    width: 250px;
}

div.summary-info-wrapper > div.row {
    width: 100%;
    height: auto;
    padding: 0 5px 0 20px;
    margin: 12px 0;
}

div.summary-info-wrapper > div.summary-info-title-div {
    /*width: 100%;*/
    /*height: 55px;*/
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    /*background-color: #909090;*/
    font-weight: 600;
    margin: 0;
}

div.summary-info-wrapper > div.summary-info-title-div:after {
    content: " ";
    border: solid 1px #0079c1;
    display: block;
    width: 70px;
    margin: 0 auto;
}


div.summary-info-wrapper > div.summary-table-wrapper > div {
    height: 22px;
    width: 100%;
    line-height: 22px;
    /*background-color: #909090;*/
    border-bottom: solid 0.1px #e9e9e9;
}

div.summary-info-wrapper > div.summary-desc-text-div {
    margin-top: 25px;
}

div.summary-info-wrapper > div.scale-chart-wrapper {
    /*margin-top: 10px;*/
}

div.scale-chart-wrapper > div.scale-chart-label {
    height: 15px;
}

div.scale-chart-label > span {
    width: 55px;
    font-size: 11px;
    line-height: 15px;
}

div.scale-chart-wrapper > div.scale-chart-rect {
    position: relative;
    height: 20px;
    background: linear-gradient(to right, #b2182b 0%, #ef8a62 20%, #fddbc7 40%, #d1e5f0 60%, #67a9cf 80%, #2166ac 100%);
}

div.scale-chart-rect > div.scale-chart-normal-value-indicator {
    position: absolute;
    top: 17px;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    text-align: center;
    margin-left: -50px;
    color: #129876;
}

div.scale-chart-normal-value-indicator > div.reference-line {
    margin: 0 auto;
    /*height: 100%;
    width: 2px;
    background-color: #129876;
    opacity: 0.5;*/

    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid #129876;
}

.scale-chart-normal-value-text > span {
    font-weight: 600;
}

div.scale-chart-rect > div.scale-chart-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    display: inline-block;
    /*background-color: rgba(0, 0, 0, .3);*/
}

div.scale-chart-tooltip > div.scale-chart-tooltip-line {
    margin: 0 auto;
    height: 20px;
    width: 2px;
    background-color: #303030;
}

div.scale-chart-tooltip > div.scale-chart-tooltip-text {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: auto;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    margin-left: 10px;
}

.bottom-pane > div.monthly-trend-chart-wrapper {
    background-color: #f2f2f2;
    width: 375px;
}

.monthly-trend-chart-wrapper > .monthly-trend-chart-top-div {
    width: 95%;
    height: 45px;
    /*background-color: #919191;*/
    margin: 10px auto 0;
    /*text-align: center;
    line-height: 45px;
    font-size: 14px;*/
    display: flex;
}

.monthly-trend-chart-top-div > .monthly-trend-chart-title-div {
    text-align: center;
}

.monthly-trend-chart-top-div > .dropdown-wrapper{
    display: table;
}

.dropdown-wrapper > div.dropdown-div {
    display: table-cell;
    vertical-align: middle;
}

.monthly-trend-chart-top-div > .monthly-trend-chart-title-div {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /*background-color: #987654;*/
}

.monthly-trend-chart-top-div > .monthly-trend-chart-data-layer-select-wrapper {
    width: 30%;
    height: 100%;
    /*background-color: #129876;*/
}

.monthly-trend-chart-top-div > .monthly-trend-chart-month-select-wrapper {
    width: 30%;
    height: 100%;
    /*background-color: #123456;*/
}

.monthly-trend-chart-wrapper > .monthly-trend-chart-div {
    width: 90%;
    height: 75%;
    /*background-color: #123456;*/
    margin: 0 auto;
}

.bottom-pane > div.line-chart-wrapper {
    width: -webkit-calc(100% - 625px);
    width:    -moz-calc(100% - 625px);
    width:         calc(100% - 625px);
    padding: 10px 15px 30px;
}

div.line-chart-div {
    /*background: #efefef;*/
    width: 100%;
    height: 100%;
}

div.main-chart-legend-div {
    /*position: absolute;
    bottom: 0;
    left: 0;*/
    /*background-color: #909090;*/
    height: 25px;
    width: 100%;
}

div.main-chart-legend-div > .legend-wrapper {
  float: left;
  height: 100%;
  margin: 0 auto;
  margin-left: -18px;
  cursor: pointer;
}

div.main-chart-legend-div > .legend-wrapper.hide {
    display: none;
}

div.main-chart-legend-div > .legend-wrapper >.legend-icon {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    margin-left: 49px;
    margin-top: -2px;
    vertical-align: middle;
    display: inline-block;
    /*cursor: pointer;*/
}

div.main-chart-legend-div > .legend-wrapper > span {
    /*cursor: pointer;*/
}

span.left {
    float: left !important;
}

span.right {
    float: right !important;
    text-align: right;
}

span.with-unit::after {
    content: "mm";
}

@media (max-width: 1280px) {
    html, body {
        overflow: unset;
    }

    .bottom-pane > div.summary-info-wrapper {
        /*background-color: #123456;*/
        /*width: 25%;*/
        order: 1
    }

    .bottom-pane > div.monthly-trend-chart-wrapper {
        background-color: #fff;
        width: -webkit-calc(100% - 250px);
        width:    -moz-calc(100% - 250px);
        width:         calc(100% - 250px);
        order: 2
    }

    .monthly-trend-chart-wrapper > .monthly-trend-chart-top-div { 
        /*max-width: 350px;*/
    }

    .bottom-pane > div.line-chart-wrapper {
        /*background-color: #129876;*/
        width: 100%;
        order: 3
    }
}

@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
}

/* style of the d3 chart */
.axis path,
.axis line {
    fill: none;
    stroke: #d7d7d7;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #636363;
}

.verticalLine {
    stroke-width: 1;
}

div.tooltip {
    font: 12px sans-serif;	
    position: absolute;	
    text-align: left;	
    width: 165px;	
    height: 50px;		
    padding: 5px;	
    background: rgba(250, 250, 250, 0.9);	
    box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.3);
    border: 0px;					
    border-radius: 2px;
    z-index: 1000;
}   

.overlay {
    fill: none;
    pointer-events: all;
}  

.main-chart-overlay {
    /*fill: rgba(0, 0, 0, 0.3);*/
    fill: none;
    pointer-events: all;
}  

select {
    font-size: 14px;
    height: 3rem;
    line-height: 3rem;
    /*height: 90%;*/
    width: 90%;
    margin: auto;
    color: #505050;
}

.suggestionsMenu li {
    margin: 0;
    font-size: 11px;
}
